body {
    background-color: darkslategray;
    padding: 0;
    margin: 0;
}

#title {
    background-color: bisque;
    padding: 5px;
    margin: 0;
}

#scoretitle {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

#scoreboard {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}


#gamelist {
    display: flex;
    list-style:none;
    justify-content: space-around;
    margin: 50px;
}

#gamelist li {
    display: flex;
    flex-direction: column;
}

#gamelist img {
    width: 230px;
    height: 200px;
    padding-bottom: 50px;
}
.gamebuttons {
    width: 200px;
}
